@charset "UTF-8";
#visual {background:url("../images/ediyacoffee/ediyacoffee_title_bg.jpg") center 0 no-repeat;}
.w1200ma{
p{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 65px;
}
.list_wrap{
  width: 1200px;
  margin: 0 auto;
  dl{
		padding:0 150px 85px 335px;
    background: url(../images/ediyacoffee/ediyacoffee_list_1.png) 0 0 no-repeat;
    +dl{
      background: url(../images/ediyacoffee/ediyacoffee_list_2.png) 0 0 no-repeat;
      +dl{
        background: url(../images/ediyacoffee/ediyacoffee_list_3.png) 0 0 no-repeat;
        +dl{
          background: url(../images/ediyacoffee/ediyacoffee_list_4.png) 0 0 no-repeat;
          +dl{
            background: url(../images/ediyacoffee/ediyacoffee_list_5.png) 0 0 no-repeat;
          }
        }
      }
    }
  }
  dt{
    color: #13245e;
    font-size: 24px;
    font-weight: bold;
    padding:30px 0;
  }
  dd{
		line-height:25px;
		text-align:justify;
    color: #333333;
    font-size: 18px;
  }
}
}
