@charset "UTF-8";
#visual {background:url("../images/event/event_top_back_02.png") center 0 no-repeat;}
#container{
  padding-bottom: 0;
}
table{
	text-align: center;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 50px;
	thead{
		tr{
			background: #f2f2f2;
			border-top: 1px solid #13245e;
			border-bottom: 1px solid #cccccc;
			height: 50px;
			th{
				color: #333333;
				font-size: 18px;
				font-weight: bold;
				+th{
					border-left: 1px solid #cccccc;
				}
			}
		}
	}
	tbody{
		.dcolor{
				color: #ec6506;
			a{
				color: #ec6506;
				&:hover, &:focus{
					color: #13245e;
				}
			}
		}
		tr{
			color: #333333;
			font-size: 14px;
			font-weight: bold;
			border-bottom: 1px solid #cccccc;
			height: 50px;
			td{
				+td{
					a:hover, a:focus{
						color: #13245e;
					}
					padding-left: 100px;
					text-align: left;
					border-left: 1px solid #cccccc;
					+td{
						padding: 0;
						text-align: center;
					}
				}
			}
		}
	}
}
form{
	p{
		width: 410px;
		margin: 0 auto;
		a{
			vertical-align: middle;
			width: 75px;
			height: 30px;
			border: 1px solid #cccccc;
			color: #fff;
			font-size: 16px;
			line-height: 30px;
			text-align: center;
			display: inline-block;
			padding-left: 16px;
			background: #13245e;
			position: relative;
			img{
				position: absolute;
				top: 7px;
				left: 10px;
			}
		}
		padding-bottom: 100px;
		select{
			width: 110px;
			height: 28px;
			border: 1px solid #cccccc;
			padding-right: 5px;
			color: #707070;
			vertical-align: middle;
		}
		input{
			line-height: 28px;
			vertical-align: middle;
			width: 206px;
			height: 28px;
			border: 1px solid #cccccc;
		}
	}
	ul{
		width: 136px;
		margin: 0 auto;
		padding-bottom: 25px;
		li{
			float: left;
			.on{
				background: #13245e;
				border: 1px solid #cccccc;
			}
			a{
				margin-left: 2px;
				line-height: 30px;
				text-align: center;
				display: block;
				color: #fff;
				font-size: 18px;
				font-weight: bold;
				width: 32px;
				height: 30px;
				background: #cecece;
			}
		}
	}
}
.news_form{
  a{
    &:hover, &:focus{
      color: #fff;
      background: #13245e;
      border: 1px solid #cccccc;
    }
  }
  select{
   margin-right: 5px;
  }
}
@media (max-width:640px) {
  form p{
    display: none;
  }
  table tbody tr td+td{
     padding: 0 20px;
  }
}
