@charset "UTF-8";
#visual {background:url("../images/product/product_title_bg.jpg") center 0 no-repeat;}
.lnb_3 li{
  display: block;
}
.main_visual{
	text-align:center;
	padding:0 15px;
	img{
		max-width:1000px;
		max-height:1418px;
		width:100%;
	}
}